.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px var(--horizontal-space) 30px;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span {
    position: relative;
    margin-left: 20px;
}

.screen-header__icons__cog-noti {
    position: absolute;
    left: 65px;
    bottom: 30px;
}